<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">Benvenuto!</h2>
<br/>
<br/>
<section id="main">
  <div class="container ">
    <div class="row">
    <div class="col-md-3 ">
      <div class="list-group">
        <a [routerLink]="['/']" class="list-group-item list-group-item-action">   HOME</a>

        <a [routerLink]="['/list-utenti']" class="list-group-item list-group-item-action list-group-item-primary"> <i class="bi bi-person-lines-fill"></i> USER</a>
        <a [routerLink]="['/clienti']" class="list-group-item list-group-item-action list-group-item-primary"><i class="bi bi-person-plus-fill"></i> CLIENTI</a>
        <a [routerLink]="['/facturegeneral']" class="list-group-item list-group-item-action list-group-item-primary"><i class="bi bi-receipt-cutoff"></i> FATTURE</a>

      </div>
    </div>

<div class="col-md-9">
<div class=" container">

  <div class="card ">
    <div class="row">
  <div class="card-header">
    WEDSITE OVERVIEW
  </div>

   <div class="col-md-5">
     <div class="well m-3">
       <h3> <i class="bi bi-person-lines-fill"></i> 203</h3>
       <h4>Users</h4>
     </div>
   </div>

   <div class="col-md-4">
     <div class="well m-3">
       <h3> <i class="bi bi-person-plus-fill"></i> 203</h3>
       <h4>Client</h4>
     </div>
   </div>

   <div class="col-md-3">
    <div class="well m-3">
      <h3> <i class="bi bi-receipt-cutoff"></i> 300</h3>
      <h4>Fatture</h4>
    </div>
  </div>
  </div>

  </div>
</div>
</div>
</div>
</div>

</section>
